
a.other{
    color: white
}

a.skip{
    position: relative;
    left:-1000px;
    color: white;
}

a.skip:focus{
    position:static;
    width:auto;
    height:auto
}

a.current{
    color: green;
    font-style: italic;
    font-family: Georgia, serif;
    background: rgb(247, 143, 25);
    padding: 1px;
    border: solid white 2px;
}



.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  


a.links{
    color: white;
}
  .text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }

  
.column {
   flex: 15%;
   padding: 5px;
 }

.event{
    color:rgb(247, 143, 25);
}

/* .agena, .month{
    height: 2000px;
    width: 100%;
} */



h1{
    font-size: 450%;
    text-align: center;
    border: none
}
h2{
    font-size: 250%;
    color: rgb(247, 143, 25)}

nav ul{

    display: flex;
    justify-content: flex-end;
    /* align-content: center; */
}


#threeimages{
    /* padding: 0;
    margin: 0; */
    list-style: none;
    display: flex;

    flex: row wrap;
    flex-direction: row;

    align-items: flex-start;
    justify-content: center;
}



#fourimages{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;

    flex: row wrap;
    flex-direction: row;

    align-items: center;
    justify-content: center;

}


/* 
@media only screen and (min-width: 769px) {

}
@media only screen and (max-width: 2048px) {

} */

@media only screen and (max-width: 768px) {
    body{
        background-image: url(../images/dark_figures.jpg);
        color: white;
        font-size: 65%;
        margin: 5%;
        font-family: 'PT Serif', serif;
    }
    
    p{
        font-family: Sans-Serif Verdana;
        font-size: 175%;
    }
    
    address { 
        display: block;
        font-style: normal;
        color: white
      }
    .headerpic{
        display: block;
        margin-top: 2%;
        margin-bottom: 2%;
        height: 95%;
        width: 95%;
        border: solid rgb(247, 143, 25) 5px;
        padding: 1%
        
    }

    h3{
        font-size: 275%;
        color: rgb(247, 143, 25);
        text-align: center;
    }

    nav ul li{
        display: inline-block;
        width:25%;
        padding: 8px;
        min-height: 40px;
        line-height: 40px;
        border-width: 2px;
        text-align: center;
        font-size: 100%;
    background-image: -webkit-linear-gradient(top left, rgb(10, 110, 27), lightgreen);
    background-image: -o-linear-gradient(top left, rgb(10, 110, 27), lightgreen);
    background-image: linear-gradient(to bottom right, rgb(10, 110, 27), lightgreen);
    
        
    }

    .container{
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    
    }

    .ima{
        padding: 5px;
        /* margin: 15px; */
        width: 45%;
        height: 45%;
    }

    figure {
        text-align: center;
        font-size: 175%;
        width: 100px;
        height: 100px;
        justify-self: start;
        padding: 0% 5% 100px 0%;
        
      }

    .eboard{
        padding-right: 1px;
        margin-top: 2px;
        margin-right: 2px;
        height: 100%;
        width: 100%;

    }

    .eboard2{
        padding-right: 1px;
        /* margin-top: 2px; */
        margin-right: 2px;
        height: 100%;
        width: 100%;
    }

    .genmembs{
        font-size: 150%
    }
    .month{
        display: none;
    }
    
    .agenda{
        height: 500px;
        width: 100%;
    }

    footer{
        min-height: 10vh;
        font-size: 215%;
        display:flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 100%
    }

}

@media only screen and (min-width: 769px) { 
    body{
        background-image: url(../images/recropped_shadows.jpg);
        color: white;
        font-size: 100%;
        margin: 5%;
        font-family: 'PT Serif', serif;
    }
    p{
        font-family: Sans-Serif Verdana;
        font-size: 175%;
        padding: 4px;
    }
    
    address { 
        display: block;
        font-style: normal;
        /* font-size: 200%; */
        color: white
      }

    h3{
    font-size: 175%;
    color: rgb(247, 143, 25);
    text-align: center;
}

    .headerpic{
    display: block;
    margin: auto;
    height: 65%;
    width: 65%;
    border: solid rgb(247, 143, 25) 5px;
    padding: 1%;
    

    }
    nav ul li{
        display: inline-block;
        width:25%;
        background: white;
        padding: 10px;
        min-height: 30px;
        line-height: 30px;
        border-width: 2px;
        text-align: center;
        font-size: 175%;
    background-image: -webkit-linear-gradient(top left, rgb(10, 110, 27), lightgreen);
    background-image: -o-linear-gradient(top left, rgb(10, 110, 27), lightgreen);
    background-image: linear-gradient(to bottom right, rgb(10, 110, 27), lightgreen);
    
        
    }

    .container{
        display: inline-grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    
    }

    .ima{
        padding: 5px;
        /* margin: 15px; */
        width: 20%;
        height: 20%;
    }

    figure {
        text-align: center;
        font-size: 175%;
        width: 100px;
        height: 100px;
        justify-self: start;
        padding: 0% 5% 25% 5%;
        
      }

    .eboard{
        padding-right: 1px;
        margin-top: 2px;
        margin-right: 2px;
        height: 150%;
        width: 150%;
    }

    .eboard2{
        padding-right: 1px;
        margin-top: 2px;
        margin-right: 2px;
        height: 150%;
        width: 150%;
    }

    .genmembs{
        font-size: 100%;
        text-align: center;

        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;

}
.agena, .month{
    height: 500px;
    width: 100%;
}
.agenda{
    display: none;
}

.month{
    display: block;
}

.gall18{
    /* margin: 0% 0% 0% 5%; */
}
footer{
    min-height: 10vh;
    font-size: 200%;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-top: 10%
}
        
    }

@media screen and (max-width: 768px) and (orientation: landscape) {
    /* html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    } */

    body{
        background-image: url(../images/recropped_shadows.jpg);
        color: white;
        font-size: 90%;
        margin: 2%;
        font-family: 'PT Serif', serif;
    }
    
    p{
        font-family: Sans-Serif Verdana;
        font-size: 150%;
    }
    
    address {
        display: block;
        font-style: normal;
        color: white;
        font-size: 125%
      }
    .headerpic{
        display: block;
        margin-top: 2%;
        margin-bottom: 2%;
        height: 95%;
        width: 95%;
        border: solid rgb(247, 143, 25) 5px;
        padding: 1%
        
    }

    h3{
        font-size: 275%;
        color: rgb(247, 143, 25);
        text-align: center;
        padding-top: 5%;
    }

    nav ul li{
        display: inline-block;
        width:25%;
        padding: 8px;
        min-height: 40px;
        line-height: 40px;
        border-width: 2px;
        text-align: center;
        font-size: 150%;
    background-image: -webkit-linear-gradient(top left, rgb(10, 110, 27), lightgreen);
    background-image: -o-linear-gradient(top left, rgb(10, 110, 27), lightgreen);
    background-image: linear-gradient(to bottom right, rgb(10, 110, 27), lightgreen);
    
        
    }

    .container{
        display: inline-grid;
        align-items: flex-start;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
    }

    .ima{
        padding: 5px;
        /* margin: 15px; */
        width: 30%;
        height: 30%;
    }

    figure {
        text-align: center;
        font-size: 175%;
        width: 100%;
        height: 100%;
        justify-self: start;
        padding: 0% 0% 1% 0%;
        margin-inline-start: 1%;
        margin-inline-end: 1%;
        
      }

    .eboard{
        padding-right: 1px;
        margin-top: 2px;
        margin-right: 2px;
        height: 75%;
        width: 75%;
    }

    .eboard2{
        padding-right: 1px;
        margin-right: 2px;
        height: 95%;
        width: 95%;
    }

    .genmembs{
        font-size: 150%
    }
    .month{
        display: none;
    }
    
    .agenda{
        height: 500px;
        width: 100%;
    }

    footer{
        min-height: 10vh;
        font-size: 215%;
        display:flex;
        justify-content: flex-end;
        align-items: flex-end;
        padding-top: 100%
    }
    .genmembs{
        font-size: 100%;
        text-align: center;

        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        justify-content: center;

}

  } 


